@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro/SourceSansPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source-code";
  src: url("../font/SourceCodePro/SourceCodePro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: "source", Helvetica, sans-serif;
  background-color: #345;
  color: #fff;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

header > h1 > span {
  font-weight: bold;
}

#stardate {
  font-family: "source-code", courier;
}