@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro/SourceSansPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source-code";
  src: url("../font/SourceCodePro/SourceCodePro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family: "source", Helvetica, sans-serif;
  background-color: #345;
  color: #fff;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: normal;
}

header > h1 > span {
  font-weight: bold;
}

h1#stardate {
  font-family: "source-code", courier;
}

#stardate-s {
  display: inline-block;
}

#stardate-s:first-letter {
  font-size: 40px;
  color: #fff;
}

h1#stardate > span {
  font-size: 16px;
  color: rgba(255,255,255,.5);
}

section {
  margin-top: 20px;
}

label {
  width: 180px;
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
}

input {
  font-family: "source-code", courier;
  width: 200px;
  height: 40px;
  padding: 4px 8px;
  margin: 0 10px 10px 10px;
  font-size: 20px;
  vertical-align: top;
}